@import "../../styles/vars.scss";


.hero{
    background: $heroSectionBg;
    min-height: 900px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__textWrapper{
        margin-top: 128px;
        font-weight: 400;
        position: relative;
        z-index: 10;
    }
    &__natureImg{
        max-width: 542px;
        width: 100%;
    }
    &__text{
        max-width: 448px;
        margin: 60px 0 48px;
        font-size: 16px;
        line-height: 32px;
        color: $heroParagraphColor;
    }
    &__searchInputWrapper{
        position: relative;
        display: flex;
        align-items: center;
        max-width: 448px;
    }
    &__searchImgWrapper{
        position: absolute;
        left: 21px;
        display: flex;
        align-items: center;
    }
    &__searchInput{
        width: 100%;
        height: 64px;
        box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
        border-radius: 40px;
        background: $heroInputBg;
        padding: 0 143px 0 48px;
        font-size: 14px;
        line-height: 24px;
    }
    &__searchBtn{
        width: 122px;
        position: absolute;
        right: 8px;
    }
    &__pictureWrapper{
        position: relative;
        margin-top: 70px;
    }
    &__parrotImgWrapper{
        width: 458px;
        position: absolute;
        top: 0;
        right: -45px;
        display: flex;
    }
    &__card{
        position: absolute;
        top: 300px;
        right: 192px;
        font-weight: 700;
        color: $heroCardColor;
    }
    &__cardImgWrapper{
        display: flex;
        width: 272px;
    }
    &__cardText{
        position: absolute;
        bottom: 32px;
        left: 32px; 
    }
    &__cardHeading{
        font-size: 20px;
        line-height: 28px;
    }
    &__cardQuontity{
        font-size: 56px;
        line-height: 80px;
    }
}

@media(max-width:1200px){
    .hero{
        &__pictureWrapper{
            margin-right: -200px;
        }
    }
}

@media(max-width:992px){
    .hero{
        min-height: 800px;
        &__pictureWrapper{
            margin-right: -160px;
        }
        &__textWrapper{
            max-width: 400px;
            margin-top: 70px;
        }
        &__text{
            margin: 30px 0 40px;
            font-size: 15px;
            max-width: 331px;
        }
        &__pictureWrapper{
            margin-top: 20px;
        }
        &__cardImgWrapper{
            max-width: 216px;
        }
        &__cardHeading{
            font-size: 15px;
        }
        &__cardQuontity{
            font-size: 40px;
            line-height: 40px;
        }
    }
}
@media(max-width:768px){
    .hero{
        min-height:818px;
        
        &__card{
            top: 354px;
        }
    }
}

@media(max-width:576px){
    .hero{
        min-height:990px;
        margin-bottom: 220px;
        &__inner{
            flex-direction: column;
        }
        &__textWrapper{
            max-width: 336px;
        }
        &__pictureWrapper{
            margin-top: -10px;
        }
        &__parrotImgWrapper{
            right: -30px;
        }
        &__card{
            top: 230px;
            right: 260px;
        }
        &__searchBtn{
            width: 100px;
        }
        &__searchInput{
            padding-right: 115px;
        }
    }
}