/*---Header---*/
$headerLinksColor: #000;
$headerBorderbg: #222433;
$menuApplyButtonBg:#fff;

/*---Hero---*/
$heroParagraphColor:#000;
$heroCardColor:#fff;
$heroInputBg:#fff;

/*---Pink Button---*/
$pinkButtonColor:#fff;
$pinkButtonBg:#F2726C;

/*---News---*/
$newsLatticeColor:#333;
$newsHashtagColor:#807C7C;
$newsNameColor:#333333;
$newsSeeMoreColor:#807C7C;

/*---Header Sections Template---*/
$headingSectionsTemplateColor: #222433;
$paragraphSectionsTemplateColor: #1E1A20;

/*---Quote---*/
$quoteHeading:#1E1A20;
$quoteSeparatorBg:#1E1A20;
$quoteItemsTextColor:#1E1A20;

/*---Contact---*/
$contactWrapperBg:#FFBD9E;
$contactFormWrapperBg:#F7F3F4;
$contactFormHeadingColor:#222433;
$contactFormInputBg:#fff;

/*---FAQs---*/
$accordionBorderBg:rgba(30,26,32, 0.2);
$accordionHeading:#1E1A20;
$accrodgionTextColor:#1E1A20;
$accrodgionButtonBg:#F2726C;
$accrodgionPlusMinusColor:#fff;

/*---Nature Slider---*/
$natureSliderBg:#FFBD9E;
$natureSliderPaginationColor:#000;
$natureSliderPaginationQuontityColor:rgba(0, 0, 0, 0.2);

$natureSliderHeadingColor:#fff;
$natureSliderActiveHeadingColor:#1E1A20;
$natureSliderParagraphColor:#1E1A20;

/*---Footer---*/
$footerBg:#F7F3F4;
$footerColor:#333;

/*---Mobile Menu---*/
$mobileMenuBg:#F7F3F4;
