@import "../../../styles/vars.scss";

.natureSlide{
    position: relative;
    margin: 0 -30px;
    &_active{
        margin: 0px;
    }
    &__bgImg{
        transform: scale(0);
        transition: all 0.3s;
    }
    &__bgImg_active{
        transform: scale(1);
    }
    &__сornerImg{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.3s;
        max-width: 280px;
    }
    &__сornerImg_active{
        max-width: 186px;
        left: 0;
        top: -40px;
        transform: translate(0,0);
    }
    &__textWrapper{
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.3s;
        width: 100%;
    }
    &__textWrapper_active{
        top: 55%;
        width: 281px;
    }
    &__heading{
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        color: $natureSliderHeadingColor;
        transition: all 0.3s;
        opacity: 0.9;
    }
    &__heading_active{
        color: $natureSliderActiveHeadingColor;
    }
    &__paragraph{
        transform: scale(0);
        transition: all 0.3s;
        color: $natureSliderParagraphColor;
        opacity: 0.9;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        max-height: 0;
    }
    &__paragraph_active{
        max-height: 200px;
        transform: scale(1);
    }
}

@media(max-width: 768px){
    .natureSlide{
        margin: 0px;
        &__bgImg{
            max-width: 330px;
        }
        &__сornerImg{
            max-width: 211px;
        }
        &__сornerImg_active{
            max-width: 125px;
            top: -30px;
        }
        &__heading{
            font-size: 18px;
            line-height: 26px;
            padding-bottom: 8px;
        }
        &__paragraph{
            font-size: 15px;
            line-height: 26px;
            max-width: 281px;
        }
    }

}
